*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
background-color: rgb(210, 82, 82);

}

.card{
width: 800px;
background-color: antiquewhite;
 font-family: sans-serif;
padding: 25px;
margin: 25px;
line-height: 25px;
border-radius: 30px;
height: 200px;
}


/*Scroll Bar*/

::-webkit-scrollbar{

    background-color: rgb(71, 52, 62);
    width: 20px;
}

::-webkit-scrollbar-thumb{

background: linear-gradient(#FBAB7E,#85FFBD);
border-radius: 40px;

}